# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
vendor/*/
/.idea
/.vscode

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.coverprofile
*.out
.env
.DS_Store
manifest-stg.yml
manifest-dev.yml
/.coverage
/bld
/.toml
